<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Регистрация нового специалиста</title>
</head>
<body>
В системе зарегистрирован новый специалист - <div th:text="${name} (${email})"></div>
<div th:text="Выбранные специализации: "></div>
<div th:text="${specialisation}"></div>
<div th:text="Проверьте профиль специлаиста в админ консоли и активируйте его."></div>
</body>
<html>