<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ваша учетная запись создана успешно</title>
</head>
<body>
Спасибо за регистрацию, <div th:text="${name}"></div>. Пожалуйста, подождите пока ваша запись будет проверена администратором и активирована
</body>
<html>